
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Crimson+Text:400,400i,700');

@media only screen and (min-width: 768px){
    .main-column{
        width: 768px;
    }
    .svg-container{
        width: 768px;
    }
    .transition-l-to-r{
        width: 640px;
        margin-left: 48px;
        -ms-transform: skewX(63.5deg); /* IE 9 */
        -webkit-transform: skewX(63.5deg); /* Safari */
        transform: skewX(63.5deg);
        border-left: 16px solid black;
        border-right: 16px solid black;
    }
    .transition-r-to-l{
        width: 640px;
        margin-left: 48px;
        -ms-transform: skewX(-63.5deg); /* IE 9 */
        -webkit-transform: skewX(-63.5deg); /* Safari */
        transform: skewX(-63.5deg);
        border-left: 16px solid black;
        border-right: 16px solid black;
    }

    .date-block {
        top: 120px;
        left: 10px;
    }
}

@media only screen and (max-width: 767px){
    .main-column{
        width: 480px;
    }
    .svg-container{
        width: 768px;
    }
    .transition-l-to-r{
        width: 404px;
        margin-left: 26px;
        -ms-transform: skewX(47deg); /* IE 9 */
        -webkit-transform: skewX(47deg); /* Safari */
        transform: skewX(47deg);
        border-left: 12px solid black;
        border-right: 12px solid black;
    }
    .transition-r-to-l{
        width: 404px;
        margin-left: 26px;
        -ms-transform: skewX(-47deg); /* IE 9 */
        -webkit-transform: skewX(-47deg); /* Safari */
        transform: skewX(-47deg);
        border-left: 12px solid black;
        border-right: 12px solid black;
    }
    .date-block {
        top: 120px;
        left: -15px;
    }
}

body {
    background-color: slategray;
    background-image: url("../img/tile1.png");
    /* background-repeat: repeat; */
    margin: 0px;
}

p {
    font-family: 'Crimson Text', serif;
    text-align: justify;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0px;
    font-size: 18px;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
    margin: 0px;
    font-size: 52px;
}

h2 {
    font-family: 'Crimson Text', serif;
    text-align: center;
    padding: 12px;
    margin: 0px;
    font-size: 34px;
}

.main-column {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.pull-left {
    width: 85%;
    display: block;
    float: left;
    position: relative;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: rgb(235, 222, 210);

}

.pull-right {
    width: 85%;
    display: block;
    float: right;
    margin-right: 0px;
    margin-left: auto;
    position: relative;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: rgb(235, 222, 210);
}

.transition-l-to-r {
    display: block;
    position: relative;
    clear: both;
    margin-right: 11px;
    height: 48px;
    background-color: black;
}

.transition-r-to-l {
    display: block;
    position: relative;
    clear: both;
    height: 48px;
    /* background-color: rgb(154, 131, 128); */
    background-color: black;
}

.date-block {
    color: black;
    display: block;
    position: absolute;
    text-align: center;
    transform: rotate(90deg);
}
.date-block h1{
    color: black;
    font-weight: 400;
    font-style: italic;
}
